img {
  margin-right: auto;
  margin-left: auto;
  max-height: 75em;
  max-width: 95em;
    display: flex;
    align-items: center;
}

p {
    color: blueviolet;
    font-size: 30px;
}

h1 {
    display: flex;
    text-align: center;
}