img {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    max-width: 100%;
      display: block;
      align-items: center;
  }
  
  p {
      color: blueviolet;
      font-size: 30px;
      display: block;
      text-align: center;
  }
  
  .title {
      display: block;
      text-align: center;
  }
  #tribute-link {
    display: block;
    text-align: center;
  }